<hr />
<dl class="_data-view">
  <dt>Name</dt>
  <dd>
    <a
      [href]="data().name | searchUrl"
      target="_blank"
      rel="noopener noreferrer"
      class="app-cmp-link app-cl-external"
      >{{ data().name }}</a
    >
  </dd>

  <dt>Diameter</dt>
  <dd>
    @if (data().diameter | isNumber) {
      <span class="app-cl-number _number-data">{{ data().diameter | number }}</span> km
    } @else {
      {{ data().diameter }}
    }
  </dd>

  <dt>Rotation Period</dt>
  <dd>
    @if (data().rotation_period | isNumber) {
      <span class="app-cl-number _number-data">{{ data().rotation_period | number }}</span> hr
    } @else {
      {{ data().orbital_period }}
    }
  </dd>

  <dt>Orbital Period</dt>
  <dd>
    @if (data().orbital_period | isNumber) {
      <span class="app-cl-number _number-data">{{ data().orbital_period | number }}</span> days
    } @else {
      {{ data().orbital_period }}
    }
  </dd>

  <dt>Gravity</dt>
  <dd>{{ data().gravity }}</dd>

  <dt>Population</dt>
  <dd>
    @if (data().population | isNumber) {
      <span class="app-cl-number _number-data">{{ data().population | number }}</span>
    } @else {
      {{ data().population }}
    }
  </dd>

  <dt>Climate</dt>
  <dd>{{ data().climate }}</dd>

  <dt>Terrain</dt>
  <dd>{{ data().terrain }}</dd>

  <dt>Surface Water</dt>
  <dd>
    @if (data().surface_water | isNumber) {
      <span class="app-cl-number _number-data">{{ data().surface_water | number }}</span> %
    } @else {
      {{ data().surface_water }}
    }
  </dd>

  <dt>Residents</dt>
  <dd>
    <ul>
      @for (fieldTree of form.residents; track fieldTree) {
        @let resouce = fieldTree().metadata(residentResourceKey)!;
        <li>
          @if (resouce.hasValue()) {
            <a
              [routerLink]="['people', resouce.value().url | extractId]"
              [relativeTo]="moduleRoute()"
              class="app-cmp-link"
              >{{ resouce.value().name }}</a
            >
          } @else if (resouce.error(); as error) {
            <span class="_status-warning">{{ error.message }}</span>
          } @else if (resouce.isLoading()) {
            <span class="_status-loading">Loading</span>
          }
        </li>
      }
    </ul>
  </dd>

  <dt>Films</dt>
  <dd>
    <ul>
      @for (fieldTree of form.films; track fieldTree) {
        @let resource = fieldTree().metadata(filmResourceKey)!;
        <li>
          @if (resource.hasValue()) {
            <a
              [routerLink]="['films', resource.value().url | extractId]"
              [relativeTo]="moduleRoute()"
              class="app-cmp-link"
              >{{ resource.value().title }}</a
            >
          } @else if (resource.error(); as error) {
            <span class="_status-warning">{{ error.message }}</span>
          } @else if (resource.isLoading()) {
            <span class="_status-loading">Loading</span>
          }
        </li>
      }
    </ul>
  </dd>

  <dt>Created</dt>
  <dd>{{ data().created | date }}</dd>

  <dt>Edited</dt>
  <dd>{{ data().edited | date }}</dd>
</dl>
<hr />
